/.vscode
/exp1
test.py
/exp2/refresh
/exp2/FB15k-237
/exp2/ent_map.py
/exp2/rel_map.py
/exp2/ent_map_2.py
/ljy
/OpenKE-benchmarks-FB15K237
/ljy2
/finaltest
/exp2/testgen.py
/exp2/test
/exp2/ent_map_3.py
/exp2/stash
/exp2/bak
/exp2/rhash
/exp2/w2v_transE/data
/exp2/w2v_transE/__pycache__
/exp2/w2v_transE/temp_dim50_nbatch100_w2v
/exp2/w2v_transE/temp_dim50_nbatch100_not